section#form {
	text-align: center;
}

section#form .texto label {
	display: block;
}

section#form input {
	font-size: 1.1em;
}

.container {
    background-color: #EEE;
    position: relative;
    margin: auto;
    width: 25%;
    border: none;
} 
  
input{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}

button:hover{
	cursor: pointer;
}

input[type=submit]{
	background: #966;
	border: none;
	padding: 12px 20px;
	color: #FFF;
	border-radius: 2px;
	font-weight: bold;
	width: 100%;
}

input[type=submit]:hover{
	cursor: pointer
}

#login-error-msg {
	font-weight: bold;
	color: #8a0000;
	text-align: center;
	opacity: 0;
}

.readonly{
	background-color:#bdbdbd;
}

span.cad {
    float: right;
    padding-top: 16px;
}