section#form {
    text-align: center;
}

section#form .texto label {
    display: block;
}

section#form input {
    font-size: 1.1em;
}

.login-secao {
    margin-top: 50px !important;
}

.login-secao h2 {
    text-align: center;
}

.container {
    background-color: #EEE;
    position: relative;
    margin: auto;
    width: 40%;
    border: none;
    min-height: 75vh;
}

.cadastro-titulo {
    text-align: center;
    font-size: 30px;
}

.cadastro-campo span {
    font-size: 10px;
    color: gray;
}

.campo-alerta input {
    margin-bottom: 4px;
}

input {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 8px 0 16px;
    border-radius: 30px;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}

button:hover {
    cursor: pointer;
}

input[type=submit] {
    background: #6E0E10;
    border: none;
    padding: 12px 20px;
    color: #FFF;
    border-radius: 30px;
    font-weight: bold;
    width: 50%;
    margin-bottom: 40px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #EEE;
    color: #6E0E10;
    box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 50px 0 rgba(0, 0, 0, 0.19);
}

#login-error-msg {
    font-weight: bold;
    color: #8a0000;
    text-align: center;
    opacity: 0;
}

.readonly {
    background-color: #bdbdbd;
}

span.cad {
    margin-top: 100px;
}