* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #EEE;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 16px 0;
    margin-bottom: 10px;
}

header h1 {
    color: #000;
    text-transform: uppercase;
    padding: 0 30px;
    font-size: 35px;
    margin: 0;
}

h2 {
    margin: auto;
}

#menu {
    margin: 0;
}

ul#menu {
    margin-top: 0;
}

ul#menu li {
    float: left;
    list-style: none;
    margin: 12px;
}

ul#menu li a {
    text-decoration: none;
    color: #fff;
    background-color: #581d22;
    border: 1px solid #581d22;
    padding: 10px 30px;
    border-radius: 16px;
    width: 200px;
    text-align: center;
}

ul#menu li a:hover {
    background-color: #EEE;
    color: #581d22;
    box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 50px 0 rgba(0, 0, 0, 0.19);
}

button {
    background: #6E0E10;
    border: none;
    padding: 12px 20px;
    color: #FFF;
    border-radius: 30px;
    font-weight: bold;
    min-width: 50%;
    cursor: pointer;
}

button:hover {
    background-color: #EEE;
    color: #6E0E10;
    box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 50px 0 rgba(0, 0, 0, 0.19);
}

hr {
    width: 100%;
    border-color: #6E0E10;
}

.center {
    text-align: center;
}

.col-half {
    float: left;
    width: 48%;
    margin-right: 5px;
}

.tab {
    margin-left: 60px;
}

.historico-titulo {
    margin: auto;
    width: 90%;
}

.ranking-titulo {
    width: 90%;
}

.historico-secao {
    min-height: 95vh;
}


/* Scrollbar */

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: #dad7d7;
}


/* Fim do scrollbar*/

footer {
    text-align: center;
    bottom: 0;
    background-color: #DDD;
    padding: 8px;
    margin-top: 20px;
}