* {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
	background-color: #EEE;
	padding-bottom: 36px;
}
header h1 {
	color: #000;
	text-transform: uppercase;
}

button {
	background: #966;
	border: none;
	padding: 12px 20px;
	color: #FFF;
	border-radius: 2px;
	font-weight: bold;
}

footer {
	text-align: center;
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: #DDD;
	padding: 8px;
}

.container {
    background-color: #EEE;
    position: relative;
    margin: auto;
    width: 25%;
    border: none;
} 
  
input{
     width: 100%;
     padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}    