* {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  background-color: #EEE;
  position: relative;
  margin: auto;
  width: 25%;
  border: none;
} 

header h1 {
	color: #000;
	text-transform: uppercase;
}

body {
	background-color: #EEE;
	padding-bottom: 36px;
}

button {
  background-color: green;
  color: white;
  padding: 14px 20px;
  border: none;
  width: 100%;
}

button:hover {
  opacity: 0.75;
}

input{
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

h2{
	text-align: center;
}

span.cad {
  float: right;
  padding-top: 16px;
}

footer {
	text-align: center;
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: #DDD;
	padding: 8px;
}